.top {
    position: relative;
    z-index: 3;
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-top {
        display: flex;
        justify-content: end;
        width: 90%;
        max-width: 1120px;
        height: 40px;
        align-items: center;
        
        font-size: 12px;
        &>a {
            padding: 0 15px;
            color: $c666 !important;
            &:not(:last-child) {
                border-right: 1px solid $ccc;
            }
        }
        &-dropdown {
            &>div>.menu {
                border-radius: 0 !important;
                margin-left: -15px !important;
                width: 102px !important;
                margin-top: 10px !important;
                border: 1px solid $ccc !important;
                border-top: 1px solid $white !important;
                box-shadow: none !important;
                &>.item {
                    text-align: center !important;
                    font-size: 12px !important;
                }
            }
        }
    }
    &-bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        width: 90%;
        max-width: 1120px;
        &>label {
            display: flex;
            align-items: center;
            padding: 0 15px;
            &>p {
                height: 70px;
                display: flex;
                align-items: center;
                transition: 0.5s;
                padding: 0 15px ;
            }
        }
        &>a {
            height: 70px;
            display: flex;
            align-items: center;
            flex-grow: 1;
            &:first-child {
                justify-content: start;
            }
            &:last-child {
                justify-content: end;
            }
        }
        &-bg {
            display: none;
            background-color: rgb(0,0,0,0.2);
            width: 100vw;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
    }
}

.radio {
    display: none;
    &-1 {
        &:checked {
            &~.top {
                &>.menu-1 {
                    visibility: visible;
                }
                &>.top-bottom>.menu-label1>p {
                    box-shadow: 0 -3px 0 0 $primary inset;
                }
            }
            &~label>.top-bottom-bg {
                display: block;
            }
        }
    }
}

.menu {
    visibility: hidden;
    width: 90%;
    max-width: 1120px;
    &-1 {
        display: flex;
        &>div {
            padding-top: 23px;
            height: 600px;
            &:first-child {
                border-right: 1px solid $ccc;
            }
        }
        &-title {
            font-size: 16px;
            font-weight: bold;
            height: 30px;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
        &-name {
            display: flex;
            width: 180px;
            align-items: center;
            padding: 10px 60px 10px 0;
            &:first-child {
                cursor: auto;
            }
            &:hover {
                color: $primary;
            }
            &:hover .menu-1-hover1 {
                visibility: visible;
            }
            &>p {
                font-size: 15px;
                display: flex;
                flex-grow: 1;
            }
        }
        &-hover1 {
            position: absolute;
            top: 150px;
            left: calc(50% - 400px);
            padding-left: 150px;
            display: flex;
            visibility: hidden;
            flex-grow: 1;
            flex-direction: column;
            align-items: flex-end;
            &>div {
                width: 862px;
                display: flex;
                align-items: flex-end;
                &:first-child {
                    margin-top: 20px;
                }
            }
            &-car{
                width: 210px;
                height: 205px;
                padding: 6px 10px 16px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                &>img {
                    width: 191px;
                }
                &>*:nth-child(2) {
                    font-size: 16px;
                    font-weight: bold;
                    margin: 8px 0;
                }
                &>*:nth-child(3) {
                    font-size: 14px;
                    color: $c666;
                    margin-bottom: 10px;
                    display: flex;
                    align-items: center;
                }
                &>*:last-child {
                    opacity: 0;
                    font-weight: bold;
                    display: flex;
                    color: $secondary;
                    &>p {
                        cursor: pointer;
                    }
                    &>p:first-child::after {
                        content: '|';
                        color: $ccc;
                        margin: 0 10px;
                    }
                }
                &:hover {
                    background-color: $eee;
                    &>*:last-child {
                        opacity: 1;
                    }
                }
            }
        }
    }
}